* {
  /* border: rebeccapurple 1px solid; */
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: #3ff2fb;
  background: radial-gradient(circle, rgba(63, 242, 251, 1) 0%, rgba(70, 116, 252, 1) 100%);
}

header {
  background-color: rgba(168, 248, 251, 0.49);
  padding: 0px;
  margin: 0px;
  height: 100px;
  margin-bottom: 20px;
  align-content: center;
  background-image: url(/background/bg.jpg);
  background-position:inherit;
  box-shadow:2px 2px 4px rgba(0, 0, 0, 0.7) ;
}

.title-header {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: white;
  text-shadow:2px 2px 4px rgba(0, 0, 0, 0.7) ;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-code {
  align-self: center;
  background-color: rgb(175, 240, 240);
  width: 60px;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.day-group {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  width: 95%;
}

.day-group h3 {
  margin-bottom: .8rem;
  text-transform: capitalize;
}

.hours-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.hour-block {
  background: rgba(255, 255, 255, 0.2);
  padding: .5rem;
  border-radius: 6px;
  width: 60px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.icon-small {
  width: 32px;
  height: 32px;
}

.big-number {
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
}

.hour {
  font-size: .8rem;
}

.chart-container {
  width: 80%;
  max-width: 800px;
  max-height: 450px;
  height: 90%;
  margin: 25px auto;
  padding: 15px;
  background-color: rgba(205, 239, 255, 0.978);
  border-radius: 10px;
  border: rgb(20, 20, 24) 1px solid;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

footer{
  text-align: center;
}